.root {
  background: var(--background);
  padding: 32px;
  border-radius: 8px;
}

.input {
  flex: 1 1 0%;
  margin-left: 8px;
  margin-right: 8px;
}

.poster {
  width: 100%;
}

.heading {
  font-size: 0.85rem;
  letter-spacing: 0.2rem;
  margin-top: 0;
  padding-left: 0.2rem;
  color: var(--accents-7);
}

.card {
  margin-bottom: 1rem;
  background: var(--background);
  border-radius: 5px;
  border: 1px solid var(--accents-2);
  padding: 24px;
}

.wrapper {
  width: 900px;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: 600;
}

.submit {
  width: 100%;
}

.label {
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--secondary);
  text-transform: uppercase;
  margin-bottom: 8px;
  max-width: 100%;
}

.avatar {
  position: relative;
  width: 96px;
  height: 96px;
  transition: ease 0.2s opacity;
}

.avatar:hover {
  opacity: 0.5;
}

.avatar input {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.note {
  padding: 7px 12px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--accents-2);
  font-size: 14px;
  margin-bottom: 1rem;
}

.note .link {
  color: var(--link);
}

.input {
  width: 100%;
  min-width: 0;
  display: inline-flex;
  border: 1px solid var(--accents-2);
  border-radius: 5px;
  padding: 0px 12px;
  background: var(--background);
  color: var(--foreground);
  height: 40px;
  transition: border-color 0.15s ease;
  outline: 0;
}

.label {
  display: block;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--secondary);
  text-transform: uppercase;
  margin-bottom: 8px;
  max-width: 100%;
}

.tags_input_container {
  border-radius: 3px;
  width: min(80vw, auto);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}

.tag_item {
  background-color: rgb(218, 216, 216);
  padding: 0.5em 0.75em;
  border-radius: 20px;
}

.close {
  height: 20px;
  width: 20px;
  background-color: rgb(48, 48, 48);
  color: #fff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.2em;
  font-size: 18px;
  cursor: pointer;
}

.tags_input {
  flex-grow: 1;
  padding: 0.5em 0;
  border: none;
  outline: none;
}
