.outerContainer {
  min-height: 100vh;
  margin-bottom: 100px;
  clear: both;
}

.innerContainer {
  padding-top: 48px;
  min-height: 100%;
}

.content {
  margin-left: 260px;
  padding: 1px 16px;
  padding-bottom: 50px;
}

@media screen and (max-width: 700px) {
  .content {
    margin-left: 0px;
  }
}
