.root {
    background: var(--background);
    padding: 32px;
    /* box-shadow: var(--shadow-smallest); */
    border-radius: 8px;
    /* height: 132px; */
    /* transition: ease 0.2s box-shadow; */
}

.input {
    width: 100%;
    min-width: 0;
    display: inline-flex;
    border: 1px solid var(--accents-2);
    border-radius: 5px;
    padding: 0px 12px;
    background: var(--background);
    color: var(--foreground);
    height: 40px;
    transition: border-color 0.15s ease;
    outline: 0;
}

.box {
    display:grid;
    grid-template-columns: 1fr 1fr;
}
