.itemWrap {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 5px #ddd;
  padding: 10px;
}

.imgWrap {
  width: 40%;
  box-sizing: border-box;
  padding: 20px;
  max-width: 200px;
}

.contentWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentInnerWrap {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 3px;
}
