.root {
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  background: var(--background);
  border-radius: 5px;
  box-shadow: var(--shadow-smallest) 0px 2px 4px rgb(0 0 0 / 10%);
}

.root a {
  text-decoration: none;
}

.content {
  color: var(--accents-6);
  font-weight: 500;
  font-size: 0.875rem;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
